---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import LinkedIn from '../components/icons/LinkedIn.astro'
import SocialPill from '../components/icons/SocialPill.astro'
import GitHub from '../components/icons/GitHub.astro'
import Mail from '../components/icons/Mail.astro'
import SectionContainer from '../components/icons/SectionContainer.astro'
import  Code  from '../components/icons/Code.astro'
import Projects from "../components/icons/Projects.astro";
---

<Layout
 title="Ariana's Porfolio"
  description="Hire Ariana Donat to create your web or mobile application.">
	<main class="px-4">
		<section class="w-full mx-auto lg:w-[740px] py-44">
		<img 
		class="rounded-full size-12  mb-4"
		 src="https://avatars.githubusercontent.com/u/128388621?s=400&u=51cb0d763aab975d41195f10333d0aea09192f6e&v=4" 
		 alt="ariana photo">
		<h1 class="text-dark text-5xl font-bold flex jusfify-center flex-row">Hey there! I'm Ariana 
		<a href="https://linkedin.com/in/arianadonat23" 
			target="_blank" 
		rel="noopener" 
		class="flex justify-center items-center gap-x-2"><Badge>Available to work</Badge></h1>
		</a>
		<h2 class="text-purple-800 font-bold flex jusfify-center flex-row">Programmer</h2>
		<h3 class="text-2xl opacity-80 text-wrap">I can assist you in creating a product, feature, or website. Take a look at my work. If you like what you see and have a coding project, don't hesitate to contact me</h3>
    
	    
	<nav class="flex gap-x-4 mt-8">
			<SocialPill href="https://linkedin.com/in/arianadonat23">				
					<LinkedIn class="size-6" /> 
					LinkedIn
			</SocialPill>
		<SocialPill href="https://github.com/arianadonat">				
				<GitHub class="size-6" />GitHub
		</SocialPill>
	<SocialPill href="https://github.com/arianadonat">							
			<Mail class="size-6" />arianavdonat@gmail.com
</section>

	<SectionContainer id="Experiencia">	
	     <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
		<Code class="size-8" />Projects
	     </h2>
		<Projects/>
	<SectionContainer/>
</section>
	</nav>
	</main>
</Layout>

