<header class= "w-full mx-auto lg:w-[740px] py-3" >

    <nav class="flex flex-row  gap-x-10 opacity-80">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
    </nav>
</header>
